# Salin file ini menjadi "secrets.toml" (hapus .example)
# Ambil nilai dari dashboard Cloudinary > Settings > API Keys

[cloudinary]
cloud_name = "e3kwzop7"
api_key = "635141831658131"
api_secret = "iFD8nC2oY2RVX4JBVQ0uX4Ghnlk"
folder = "memories"
